.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.header h1 {
  color: pink;
  font-family: 'Bangers', sans-serif;
  font-size: 3rem;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 10px;
}

.btn-alt {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
}

.btn {
  text-decoration: none;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  background-color: pink;
  cursor: pointer;
}
